<%= form_with(model: ticket, local: true) do |form| %>
  <div class="form-group">
    <%= form.label :title %>
    <%= form.text_field :title, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :price %>
    <%= form.number_field :price, class: 'form-control' %>
  </div>

  <div class="form-group">
    <%= form.label :description %>
    <%= form.text_area :description, class: 'form-control', rows:5 %>
  </div>

  <div class="date_field">
    <%= form.label :date_int %> 
    <%= form.date_field :date_int , class: 'form-control' %>
  </div>

  <div class="date_field mb-2">
    <%= form.label :date_out %>
    <%= form.date_field :date_out, class: 'form-control' %>
  </div>
  

  <%= form.submit class: 'btn btn-primary', data: {disable_with: 'Criando'} %> 
<% end %>
