<div class="container">
  <h1>Filmes</h1>
  <table class="table table-striped table-hover border-top">
    <thead>
      <tr>
        <th>Título</th>
        <th>Preço</th>
        <th>Descrição</th>
        <th class="text-center" >Vendendo</th>
        <th>Data de Estreia</th>
        <th>Sai de cartaz</th>
        <th colspan="6"></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td class= "td" ><%= ticket.title %></td>
          <td class= "td"><%= ticket.price %></td>
          <td class= "td"><%= ticket.description.truncate(30)  %></td>
          <td class="td-selling">
            <% if ticket.selling == true %>
              <img src="../../assets/check.png" class="img-selling" alt="Vedendo">
            <%else %>  
              <img src="../../assets/erro.png" class="img-selling" alt="Não esta vendendo">
            <%end %>  
          </td>
          <td class= "td"><%= ticket.date_int == nil ? ticket.date_int : l(ticket.date_int) %></td>
          <td class= "td"><%= ticket.date_out == nil ? ticket.date_out : l(ticket.date_out) %></td>
           <div class="btn-group" role="group" aria-label="Basic example">
            <td>
              <%= link_to 'Mostrar', ticket, class:'btn btn-primary'%>
              <%= link_to 'Editar', edit_ticket_path(ticket), class:'btn btn-primary'%>
              <%= link_to 'Excluir', ticket, method: :delete, data: { confirm: 'Tem certeza que deseja excluir esse registro ?' }, class:'btn btn-danger'%>
            </td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <%=link_to "Novo Filme", new_ticket_path, class:"btn btn-success"%>
  </div>