<p id="notice"><%= notice %></p>
<div class="container">
  <h1>Ingressos</h1>
  <table class="table table-striped table-hover">
    <thead>
      <tr>
        <th>Título</th>
        <th>Preço</th>
        <th>Descrição</th>
        <th colspan="3"></th>
      </tr>
    </thead>

    <tbody>
      <% @tickets.each do |ticket| %>
        <tr>
          <td><%= ticket.title %></td>
          <td><%= ticket.price %></td>
          <td><%= ticket.description %></td>
           <div class="btn-group" role="group" aria-label="Basic example">
            <td>
              <button type="button" class="btn btn-primary"><%= link_to 'Mostrar', ticket %>Mostrar</button>
              <button type="button" class="btn btn-primary"><%= link_to 'Editar', edit_ticket_path(ticket) %></button>
              <button type="button" class="btn btn-danger"><%= link_to 'Excluir', ticket, method: :delete, data: { confirm: 'Tem certeza qued eseja excluir esse registro ?' } %></button>
            </td>
          </div>
        </tr>
      <% end %>
    </tbody>
  </table>
  <br>

  <button type="button" class="btn btn-primary"> <%=link_to "Novo Ticket", new_ticket_path %></button>
</div>  