<!DOCTYPE html>
<html lang='pt'>
  <head>
    <title>Cinema</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_pack_tag 'application', media: 'all'%>
    <%= javascript_pack_tag 'application'%>
  </head>

  <body>
    <form class="row row-cols-lg-auto g-3 align-items-center offset-8">
      <div class="col-12">
        <div class="search">
          <%= form_with url: search_tickets_path, method: :get, local: true, class: 'form-inline' do |form| %>
            <div class='form-group mx-3 mb-3'>
              <%= form.search_field :q, class: 'form-control', required: true, placeholder: 'Busca', value: params[:q] %>
            </div>
        </div>
      </div>
      <div class="col-12">
          <%= form.submit 'Buscar', class: 'btn btn-primary mb-3', data: { disable_with: 'Buscando...' } %>
        <% end %>
      </div>
    </form>

    <%= yield %>
  </body>
</html>
